*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
  //16 is default font-size
  background-color: $color-light;

  @include respond(tab-land) {
    font-size: 56.25%; //1rem=9px, 9/16
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px, 8/16 = 50%
  }
}

body {
  line-height: 1.7;
  box-sizing: border-box;
  color: $color-dark;
  background-color: $color-light;
  font-family: $second-font;
  max-width: 170rem;
  margin: 0 auto;
}

//main content
.content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
