.portfolio {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 15rem;

  @include respond(tab-land) {
    grid-template-rows: repeat(12, max-content);
  }

  &__img {
    width: 100%;

    &--left {
      grid-column: 1 / span 1;
    }

    &--right {
      grid-column: 2 / -1;
    }

    &--left,
    &--right {
      @include respond(tab-land) {
        grid-column: 1 / -1;
      }
    }
  }

  &__section {
    letter-spacing: 0.1rem;
    padding: 10rem;
    text-align: center;

    @include respond(mid-desk) {
      padding: 5rem;
    }

    @include respond(tab-land) {
      padding-bottom: 15rem;
    }

    @include respond(phone) {
      padding: 3rem;
      padding-bottom: 8rem;
    }

    &--left {
      grid-column: 1 / span 1;
    }

    &--right {
      grid-column: 2 / -1;
    }

    &--left,
    &--right {
      @include respond(tab-land) {
        grid-column: 1 / -1;
      }
    }

    &--header {
      font-size: 2.8rem;
      color: $color-light-blue;
      text-transform: capitalize;
      font-family: $first-font;

      @include respond(phone) {
        font-size: 2.5rem;
      }
    }

    &--paragraph {
      font-size: 1.8rem;

      @include respond(phone) {
        font-size: 1.6rem;
      }
    }
  }

  &__btn {
    text-decoration: none;
    font-size: 2rem;
    margin-right: 3rem;
    color: $color-light;
    padding: 1rem 2rem;
    border-radius: 4px;
    transition: all 0.3s;
    font-family: $first-font;

    @include respond(phone) {
      margin-right: 1rem;
      font-size: 1.6rem;
      padding: 0.6rem 1.6rem;
    }

    &:hover {
      background-color: $color-light-blue;
      color: $color-light;
      border: none;
    }

    &:active {
      background-color: $color-light-blue;
      color: $color-light;
      border: none;
      box-shadow: 0 0.5rem 1rem rgba($color-blue, 0.15);
    }

    &:focus {
      outline: none;
      border: none;
    }

    &--website {
      background-color: $color-red;
    }

    &--code {
      background-color: transparent;
      color: $color-red;
      border: 1px solid $color-red;
    }
  }

  &__1 {
    @include respond(tab-land) {
      grid-row: 1 / span 1;
    }
  }

  &__2 {
    @include respond(tab-land) {
      grid-row: 2 / span 1;
    }
  }

  &__3 {
    @include respond(tab-land) {
      grid-row: 7 / span 1;
    }
  }

  &__4 {
    @include respond(tab-land) {
      grid-row: 8 / span 1;
    }
  }
  &__5 {
    @include respond(tab-land) {
      grid-row: 3 / span 1;
    }
  }
  &__6 {
    @include respond(tab-land) {
      grid-row: 4 / span 1;
    }
  }

  &__7 {
    @include respond(tab-land) {
      grid-row: 5 / span 1;
    }
  }

  &__8 {
    @include respond(tab-land) {
      grid-row: 6 / span 1;
    }
  }

  &__9 {
    @include respond(tab-land) {
      grid-row: 11 / span 1;
    }
  }
  &__10 {
    @include respond(tab-land) {
      grid-row: 12 / span 1;
      border-bottom: 1px solid $color-grey;
    }
  }
  &__11 {
    @include respond(tab-land) {
      grid-row: 9 / span 1;
    }
  }

  &__12 {
    @include respond(tab-land) {
      grid-row: 10 / span 1;
    }
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
