$color-yellow: #fff1c1;
$color-blue: #293462;
$color-white: #fff;
$color-red: #f76262;
$color-dark-red: #ed3833;
$color-light-blue: #216583;
$color-lighter-blue: #2f95c1;
$font-header: "VT323", monospace;
$color-dark: #333;
$color-light: whitesmoke;
$color-light-grey: rgb(213, 213, 213);
$color-grey: rgb(160, 160, 160);
$first-font: "Poiret One", cursive;
$second-font: "Raleway", sans-serif;
$color-yellow: #fff1c1;
